In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\gagan\appdata\local\programs\python\python312\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\gagan\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SalesDataAnalysis") \
    .getOrCreate()

In [3]:
product_path = "C:/Users/Gagan/Desktop/Projects DE/Project_5/product.csv"
sales_path = "C:/Users/Gagan/Desktop/Projects DE/Project_5/sales.csv"
customer_path = "C:/Users/Gagan/Desktop/Projects DE/Project_5/customer.csv"

In [4]:
products_df = spark.read.csv(product_path, header=True, inferSchema=True)
sales_df = spark.read.csv(sales_path, header=True, inferSchema=True)
customer_df = spark.read.csv(customer_path, header=True, inferSchema=True)

In [5]:
# Fill missing values with default values if necessary
products_df = products_df.na.fill({"Category": "Unknown"})
sales_df = sales_df.na.drop()
customer_df = customer_df.na.fill({"Age": 0})

In [19]:
from pyspark.sql.types import IntegerType, DoubleType

sales_df = sales_df.withColumn("Quantity", sales_df["Quantity"].cast(IntegerType()))
sales_df = sales_df.withColumn("Discount", sales_df["Discount"].cast(DoubleType()))

In [20]:
sales_products_df = sales_df.join(products_df, on="Product ID", how="inner")
full_df = sales_products_df.join(customer_df, on="Customer ID", how="inner")

In [8]:
full_df.show()

+-----------+---------------+----------+--------------+----------+----------+--------------+--------+--------+--------+--------+---------------+------------+--------------------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|Customer ID|     Product ID|Order Line|      Order ID|Order Date| Ship Date|     Ship Mode|   Sales|Quantity|Discount|  Profit|       Category|Sub-Category|        Product Name|     Customer Name|    Segment|Age|      Country|           City|         State|Postal Code| Region|
+-----------+---------------+----------+--------------+----------+----------+--------------+--------+--------+--------+--------+---------------+------------+--------------------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
|   CG-12520|FUR-BO-10001798|         1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|  261.96|       2|     0.0| 41.9136|      Furniture|   Bookcases|Bush Somerset Col...|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|
|   CG-12520|FUR-CH-10000454|         2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|  731.94|       3|     0.0| 219.582|      Furniture|      Chairs|Hon Deluxe Fabric...|       Claire Gute|   Consumer| 67|United States|      Henderson|      Kentucky|      42420|  South|
|   DV-13045|OFF-LA-10000240|         3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   14.62|       2|     0.0|  6.8714|Office Supplies|      Labels|Self-Adhesive Add...|   Darrin Van Huff|  Corporate| 31|United States|    Los Angeles|    California|      90036|   West|
|   SO-20335|FUR-TA-10000577|         4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|957.5775|       5|    0.45|-383.031|      Furniture|      Tables|Bretford CR4500 S...|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|
|   SO-20335|OFF-ST-10000760|         5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|  22.368|       2|     0.2|  2.5164|Office Supplies|     Storage|Eldon Fold N Roll...|    Sean O'Donnell|   Consumer| 65|United States|Fort Lauderdale|       Florida|      33311|  South|
|   BH-11710|FUR-FU-10001487|         6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   48.86|       7|     0.0| 14.1694|      Furniture| Furnishings|Eldon Expressions...|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   BH-11710|OFF-AR-10002833|         7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|    7.28|       4|     0.0|  1.9656|Office Supplies|         Art|          Newell 322|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   BH-11710|TEC-PH-10002275|         8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class| 907.152|       6|     0.2| 90.7152|     Technology|      Phones|Mitel 5320 IP Pho...|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   BH-11710|OFF-BI-10003910|         9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|  18.504|       3|     0.2|  5.7825|Office Supplies|     Binders|DXL Angle-View Bi...|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   BH-11710|OFF-AP-10002892|        10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   114.9|       5|     0.0|   34.47|Office Supplies|  Appliances|Belkin F5C206VTEL...|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   BH-11710|FUR-TA-10001539|        11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|1706.184|       9|     0.2| 85.3092|      Furniture|      Tables|Chromcraft Rectan...|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   BH-11710|TEC-PH-10002033|        12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class| 911.424|       4|     0.2| 68.3568|     Technology|      Phones|Konftel 250 Confe...|   Brosina Hoffman|   Consumer| 20|United States|    Los Angeles|    California|      90032|   West|
|   AA-10480|OFF-PA-10002365|        13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|  15.552|       3|     0.2|  5.4432|Office Supplies|       Paper|          Xerox 1967|      Andrew Allen|   Consumer| 50|United States|        Concord|North Carolina|      28027|  South|
|   IM-15070|OFF-BI-10003656|        14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class| 407.976|       3|     0.2|132.5922|Office Supplies|     Binders|Fellowes PB200 Pl...|      Irene Maddox|   Consumer| 66|United States|        Seattle|    Washington|      98103|   West|
|   HP-14815|OFF-AP-10002311|        15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   68.81|       5|     0.8|-123.858|Office Supplies|  Appliances|Holmes Replacemen...|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|
|   HP-14815|OFF-BI-10000756|        16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   2.544|       3|     0.8|  -3.816|Office Supplies|     Binders|Storex DuraTech R...|     Harold Pawlan|Home Office| 20|United States|     Fort Worth|         Texas|      76106|Central|
|   PK-19075|OFF-ST-10004186|        17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|  665.88|       6|     0.0| 13.3176|Office Supplies|     Storage|Stur-D-Stor Shelv...|         Pete Kriz|   Consumer| 46|United States|        Madison|     Wisconsin|      53711|Central|
|   AG-10270|OFF-ST-10000107|        18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|    55.5|       2|     0.0|    9.99|Office Supplies|     Storage|Fellowes Super St...|   Alejandro Grove|   Consumer| 18|United States|    West Jordan|          Utah|      84084|   West|
|   ZD-21925|OFF-AR-10003056|        19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|    8.56|       2|     0.0|  2.4824|Office Supplies|         Art|          Newell 341|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|
|   ZD-21925|TEC-PH-10001949|        20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|  213.48|       3|     0.2|  16.011|     Technology|      Phones|Cisco SPA 501G IP...|Zuschuss Donatelli|   Consumer| 66|United States|  San Francisco|    California|      94109|   West|
+-----------+---------------+----------+--------------+----------+----------+--------------+--------+--------+--------+--------+---------------+------------+--------------------+------------------+-----------+---+-------------+---------------+--------------+-----------+-------+
only showing top 20 rows

In [9]:
#Total Sales for Each Product Category
full_df.groupBy("Category").sum("Sales").show()

+---------------+-----------------+
|       Category|       sum(Sales)|
+---------------+-----------------+
|Office Supplies|719047.0320000029|
|      Furniture|741999.7952999998|
|     Technology|836154.0329999966|
+---------------+-----------------+

In [10]:
#Average Discount Given Across All Products:
full_df.agg({"Discount": "avg"}).show()

+-------------------+
|      avg(Discount)|
+-------------------+
|0.15620272163298934|
+-------------------+

In [11]:
#Customer with the Highest Number of Purchases
full_df.groupBy("Customer ID").count().orderBy("count", ascending=False).show(1)

+-----------+-----+
|Customer ID|count|
+-----------+-----+
|   WB-21850|   37|
+-----------+-----+
only showing top 1 row

In [12]:
#Unique Products Sold in Each Region
full_df.groupBy("Region").agg({"Product ID": "count"}).distinct().show()

+-------+-----------------+
| Region|count(Product ID)|
+-------+-----------------+
|  South|             1626|
|Central|             2371|
|   East|             2762|
|   West|             3235|
+-------+-----------------+

In [13]:
#Total Profit Generated in Each State
full_df.groupBy("State").sum("Profit").show()

+--------------------+------------------+
|               State|       sum(Profit)|
+--------------------+------------------+
|                Utah|1818.1938000000005|
|           Minnesota| 7202.522500000001|
|                Ohio| 5985.887000000001|
|              Oregon|234.04950000000014|
|            Arkansas|          -62.9462|
|               Texas| 20528.91100000002|
|        Pennsylvania|13604.935000000007|
|         Connecticut| 533.4986999999999|
|            Nebraska|         1166.0176|
|              Nevada|278.06780000000003|
|          Washington|24405.796599999983|
|            Illinois| 9560.145599999993|
|            Oklahoma| 829.0181999999999|
|District of Columbia|490.95669999999996|
|            Delaware| 3336.382700000002|
|          New Mexico|         1340.1399|
|            Missouri|2212.8746999999994|
|        Rhode Island|         2276.7013|
|             Georgia|12781.342599999998|
|            Michigan|7752.2969000000085|
+--------------------+------------------+
only showing top 20 rows

In [14]:
#Product Sub-Category with the Highest Sales
full_df.groupBy("Sub-Category").sum("Sales").orderBy("sum(Sales)", ascending=False).show(10)

+------------+------------------+
|Sub-Category|        sum(Sales)|
+------------+------------------+
|      Phones| 330007.0540000001|
|      Chairs|328449.10300000076|
|     Storage|223843.60800000012|
|      Tables| 206965.5320000001|
|     Binders| 203412.7330000001|
|    Machines|189238.63099999996|
| Accessories| 167380.3180000001|
|     Copiers|149528.02999999994|
|   Bookcases|114879.99629999997|
|  Appliances|        107532.161|
+------------+------------------+
only showing top 10 rows

In [15]:
#Average Age of Customers in Each Segment
full_df.groupBy("Segment").avg("Age").show()

+-----------+------------------+
|    Segment|          avg(Age)|
+-----------+------------------+
|   Consumer| 44.60585628973223|
|Home Office| 43.28210880538418|
|  Corporate|44.816556291390725|
+-----------+------------------+

In [16]:
#Orders Shipped in Each Shipping Mode
full_df.groupBy("Ship Mode").count().show()

+--------------+-----+
|     Ship Mode|count|
+--------------+-----+
|   First Class| 1538|
|      Same Day|  543|
|  Second Class| 1945|
|Standard Class| 5968|
+--------------+-----+

In [17]:
#Total Quantity of Products Sold in Each City
full_df.groupBy("City").sum("Quantity").show()

+---------------+-------------+
|           City|sum(Quantity)|
+---------------+-------------+
|          Tyler|           22|
|    Springfield|          282|
|  Bowling Green|           89|
|         Auburn|          214|
|North Las Vegas|           29|
|        Phoenix|          256|
|  Lake Elsinore|           35|
|         Monroe|          184|
| Pembroke Pines|           48|
|       Westland|           54|
|    Lindenhurst|           42|
|         Marion|           77|
|          Omaha|           43|
|   Fort Collins|           55|
|        Everett|           24|
|     Greensboro|           51|
|       Franklin|          184|
|   Lincoln Park|           28|
|         Dallas|          602|
|    Thomasville|           40|
+---------------+-------------+
only showing top 20 rows

In [18]:
#Customer Segment with the Highest Profit Margin:
full_df.groupBy("Segment").sum("Profit").orderBy("sum(Profit)", ascending=False).show(1)

+--------+------------------+
| Segment|       sum(Profit)|
+--------+------------------+
|Consumer|134119.20919999972|
+--------+------------------+
only showing top 1 row